@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints
$mobile: 699px;
$tablet: 700px;
$desktop: 1000px;

$small-screen: new-breakpoint(max-width $mobile 4);
$medium-screen: new-breakpoint(min-width $tablet 8);
$large-screen: new-breakpoint(min-width $desktop 12);
