<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Food Log</title>
		<!-- The main CSS file -->
		<link href="css/app.css" rel="stylesheet" />
	</head>
	<body>
		<section id="food-app">
		<input type="text" id="query">
		<button id="button">search</button>
		<ul id="query-list">
		</ul>
		</section>
		<script type="text/template" id="food-item-template">
			<div class="view">
				<label><%= name %> calories: <%= calories %></label>
		</script>
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/backbone-min.js"></script>
		<script src="js/models/food.js"></script>
		<script src="js/collections/foods.js"></script>
		<script src="js/collections/query.js"></script>
		<script src="js/views/app.js"></script>
		<script src="js/views/food.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>