<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Log</title>
    <link href="css/app.css" rel="stylesheet" />
</head>

<body>
    <div id="food-app">
        <header>
            <h1>LOOK BEFORE YOU LEAP</h1>
            <h3>count calories today</h3>
        </header>

        <div id="main-wrapper">
            <div class="search-foodlist-col">
                <div id="search-area">
                    <!-- <h2 style="text-align:center; padding-top: 10px">Search</h2> -->
                    <h2>Search</h2>
                    <div class="search-bar">
                        <!-- <form role="search"> -->
                            <input type="text" placeholder="Enter a food here" id="query">
                            <button type="submit" id="button">
                                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
                            </button>
                        <!-- </form> -->
                    </div>
                    <ul id="query-list"></ul>

                </div>

                <section class="food-list">
                    <h2>Food list</h2>
                    <!-- TODO: date picker -->
                    <!-- <p>Date: <input type="text" id="datepicker"></p> -->
                    <ul id="foods"></ul>
                </section>
            </div>

            <div class="results-area">
                <section class="pie-chart">
                    <h2>Total Calories</h2>
                    <div id="totals">0</div>
                    <div id="plot1"></div>
                </section>
            </div>

        </div>

        <footer>
            <h3>you are what you eat & things aren't as they seem</h3>
        </footer>
    </div>



    <script type="text/template" id="food-item-template">
        <div class="view">
            <label id="food">
                <%= name %>
            </label>
            <div class="food-info-container"
                <label id="calories">
                    calories: <%= calories * quantity %>
                </label>
                <label id="qty">Qty. <%= quantity %> </label>
                <button id="button-remove" class="remove">Remove</button>
            </div>
    </script>

    <script type="text/template" id="search-item-template">
        <div class="search-item">
            <label>
                <%= name %> calories:<%= calories %>
            </label>
            <div class="qty-add-container">
                <label id="qty" for="number">Qty.</label>
                    <select name="number" id="number">
                      <option selected="selected">1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                <button id="button-add" class="add">Add</button>
            </div>
    </script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
    <script src="js/d3/dataseries.js"></script>
    <script src="js/lib/d3-min.js"></script>
    <script src="js/models/food.js"></script>
    <script src="js/models/datapoint.js"></script>
    <script src="js/collections/foodsFirebase.js"></script>
    <script src="js/collections/queryFirebase.js"></script>
    <script src="js/views/app.js"></script>
    <script src="js/views/food.js"></script>
    <script src="js/views/search.js"></script>
    <script src="js/app.js"></script>

    <script>
      $(function() {
        $( "#datepicker" ).datepicker();
      });
    </script>
</body>

</html>
