html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#food-app {
	@include outer-container;

	#query {
		@include span-columns(2);
		background: #90AAFA;
	}

	#button {
		@include span-columns(2);
	}

	#query-list{
		@include span-columns(2);
		background: #33BD2B;
	}

}


